NodeRedFlow.json
[
    {
        "id": "78954ea4.cb369",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9b66f3e8.d204d",
        "type": "ui_form",
        "z": "78954ea4.cb369",
        "name": "",
        "label": "",
        "group": "fc144bae.c584d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Adult Mortality",
                "value": "a",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Infant Deaths",
                "value": "b",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Alcohol",
                "value": "c",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Percentage Expenditure",
                "value": "d",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Hepatitis B",
                "value": "e",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Measles\t",
                "value": "f",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "BMI\t",
                "value": "g",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "under-five deaths",
                "value": "h",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Polio",
                "value": "i",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Total expenditure",
                "value": "j",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Diphtheria",
                "value": "k",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "HIV/AIDS",
                "value": "l",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "GDP",
                "value": "m",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Population",
                "value": "n",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "thinness_1to19_years",
                "value": "o",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "thinness_5to9_years",
                "value": "p",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Income_Comp_Of_Resources",
                "value": "q",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Schooling",
                "value": "r",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Developing(0)",
                "value": "s",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Developed(1)",
                "value": "t",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "a": "",
            "b": "",
            "c": "",
            "d": "",
            "e": "",
            "f": "",
            "g": "",
            "h": "",
            "i": "",
            "j": "",
            "k": "",
            "l": "",
            "m": "",
            "n": "",
            "o": "",
            "p": "",
            "q": "",
            "r": "",
            "s": "",
            "t": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 70,
        "y": 100,
        "wires": [
            [
                "9a2fe724.8025b8"
            ]
        ],
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "9a2fe724.8025b8",
        "type": "function",
        "z": "78954ea4.cb369",
        "name": "pre token",
        "func": "//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n//following are required to receive a token\nvar apikey=\"2FthK7AaZr4DWh9f5ox0c973Af_UK1gFXaaOxA9mNJzN\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 100,
        "wires": [
            [
                "c95598f8.6ba6f8"
            ]
        ]
    },
    {
        "id": "224a407.d93bec",
        "type": "http request",
        "z": "78954ea4.cb369",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://us-south.ml.cloud.ibm.com/v3/wml_instances/28c41c23-3a6b-4142-8443-d36895994fef/deployments/fba25c48-bfd4-46fc-8966-0841c1951177/online",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "5f6249ee.a96e58",
                "54617d55.30fbe4"
            ]
        ]
    },
    {
        "id": "fc0708c8.1c08c8",
        "type": "debug",
        "z": "78954ea4.cb369",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "54617d55.30fbe4",
        "type": "function",
        "z": "78954ea4.cb369",
        "name": "getFrom Endpoint",
        "func": "msg.payload=msg.payload.values[0][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "fc0708c8.1c08c8",
                "2577d80c.f9d198"
            ]
        ]
    },
    {
        "id": "5f6249ee.a96e58",
        "type": "debug",
        "z": "78954ea4.cb369",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "ea2df5c2.735bd8",
        "type": "function",
        "z": "78954ea4.cb369",
        "name": "sendTo Endpoint",
        "func": "//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"28c41c23-3a6b-4142-8443-d36895994fef\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\",\"BMI\",\n\"Adult Mortality\",\n\"infant deaths\",\n\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"under-five deaths \",\"Polio\",\"Total expenditure\",\"Diphtheria \",\" HIV/AIDS\",\"GDP\",\"Population\",\" thinness  1-19 years\",\" thinness 5-9 years\",\"Income composition of resources\",\"Schooling\",\"Measles\",\"Developing\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 180,
        "wires": [
            [
                "224a407.d93bec"
            ]
        ]
    },
    {
        "id": "c95598f8.6ba6f8",
        "type": "http request",
        "z": "78954ea4.cb369",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "ea2df5c2.735bd8"
            ]
        ]
    },
    {
        "id": "2577d80c.f9d198",
        "type": "ui_text",
        "z": "78954ea4.cb369",
        "group": "fc144bae.c584d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Life Expectancy",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "fc144bae.c584d8",
        "type": "ui_group",
        "z": "",
        "name": "Machine Learning Model",
        "tab": "93443a2f.f7b678",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "93443a2f.f7b678",
        "type": "ui_tab",
        "z": "",
        "name": "Home Page",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]